<div class="content-wrap">
  <div class="row">
    <div class="col-6">
      <div class="card rounded-0 border-0">
        <div class="card-body">
          <h5 class="card-title mb-3">Edit Team</h5>

          <div class="spinner-wrapper" *ngIf="loader">
            <div class="spinner"></div>
          </div>

          <div class="alert alert-danger py-2" role="alert" *ngIf="errorMessage">
            {{ errorMessage }}
          </div>

          <app-edit-ui [slug]="'team'" [data]="team" *ngIf="team && !loader"></app-edit-ui>
        </div>
      </div>
    </div>
  </div>
</div>
