.team-title {
  background-color: rgb(50 55 60);
  color: #ffffff;
  padding: 16px;
  font-size: 20px;
  font-weight: 500;

  .subtitle {
    font-size: 12px;
    color: rgb(128 128 128);
  }
}

.team-detail {
  font-size: 16px;
  font-weight: 500;
}