<div class="content-wrap">
  <div class="row">
    <div class="col-6">
      <div class="card rounded-0 border-0">
        <div class="card-body">
          <h5 class="card-title mb-3">Add Players</h5>

          <div class="alert alert-primary py-2" role="alert" *ngIf="successMsg">
            {{successMsg}}
          </div>

          <div class="alert alert-danger py-2" role="alert" *ngIf="errorMsg">
            {{errorMsg}}
          </div>

          <form class="players-lists" [formGroup]="form" (ngSubmit)="submit(form.value)">
            <ng-container formArrayName="players">
              <div class="mb-3" *ngFor="let steps of postingPlayer().controls; let pIndex = index;"
                [formGroupName]="pIndex">
                <div class="players-list-items mb-0">
                  <div class="player-detail me-3">
                    <div class="delete" (click)="removePlayer(pIndex)">x</div>

                    <div class="name-input w-100">
                      <input type="text" name="pname" id="pname" placeholder="Player name"
                        class="form-control rounded-0 shadow-none border-0" formControlName="name" />
                    </div>
                  </div>

                  <div class="btn-group rounded-0 players-score">
                    <input type="radio" class="btn-check border-0 score-count" formControlName="skill" [value]="1"
                      id="skill1-{{pIndex}}" autocomplete="off">
                    <label class="btn btn-outline-primary border-0 rounded-0"
                      [ngClass]="{'active': steps.get('skill')?.value >= 1}" for="skill1-{{pIndex}}">1</label>

                    <input type="radio" class="btn-check border-0 score-count" formControlName="skill" [value]="2"
                      id="skill2-{{pIndex}}" autocomplete="off">
                    <label class="btn btn-outline-primary border-0 rounded-0"
                      [ngClass]="{'active': steps.get('skill')?.value >= 2}" for="skill2-{{pIndex}}">2</label>

                    <input type="radio" class="btn-check border-0 score-count" formControlName="skill" [value]="3"
                      id="skill3-{{pIndex}}" autocomplete="off">
                    <label class="btn btn-outline-primary border-0 rounded-0"
                      [ngClass]="{'active': steps.get('skill')?.value >= 3}" for="skill3-{{pIndex}}">3</label>

                    <input type="radio" class="btn-check border-0 score-count" formControlName="skill" [value]="4"
                      id="skill4-{{pIndex}}" autocomplete="off">
                    <label class="btn btn-outline-primary border-0 rounded-0"
                      [ngClass]="{'active': steps.get('skill')?.value >= 4}" for="skill4-{{pIndex}}">4</label>

                    <input type="radio" class="btn-check border-0 score-count" formControlName="skill" [value]="5"
                      id="skill5-{{pIndex}}" autocomplete="off">
                    <label class="btn btn-outline-primary border-0 rounded-0"
                      [ngClass]="{'active': steps.get('skill')?.value >= 5}" for="skill5-{{pIndex}}">5</label>
                  </div>
                </div>

                <small *ngIf="steps.get('name')?.invalid && steps.get('name')?.touched" class="text-danger">
                  Player name is required.
                </small>

                <div *ngIf="steps.get('skill')?.invalid && steps.get('skill')?.touched" class="text-danger">
                  Skill level must be between 1 and 5.
                </div>
              </div>

              <div class="d-flex justify-content-between align-items-center" style="height: 36px;">
                <div class="d-flex" style="line-height: 14px; height: 36px; cursor: pointer;" (click)="addPlayer()">
                  <span class="pcount" *ngIf="postingPlayer().controls">
                    {{ postingPlayer().controls.length }}
                  </span>
                  <span class="ntitle">Add Participant</span>
                </div>

                <button type="submit" class="btn btn-success rounded-0 shadow-none"
                  [disabled]="submitted">Submit</button>
              </div>
            </ng-container>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>