<div class="content-wrap">
  <div class="row">
    <div class="col-7">
      <div class="card rounded-0 border-0">
        <div class="card-body">
          <h5 class="card-title mb-3">Teams</h5>

          <div class="players-lists">
            <div class="spinner-wrapper" *ngIf="teamsData.length === 0 && teamsLoader">
              <div class="spinner"></div>
            </div>

            <div class="error-wrapper text-info mb-3" *ngIf="teamsData.length === 0 && !teamsLoader">
              Team not found!
            </div>

            <ng-container *ngIf="teamsData.length > 0 && !teamsLoader">
              <ng-container *ngFor="let team of teamsData; let pIndex = index;">
                <app-view-ui [slug]="'team'" [data]="team" (confirmStatus)="confirmStatus($event)"></app-view-ui>
              </ng-container>
            </ng-container>

            <div class="d-flex justify-content-between align-items-center" style="height: 36px;">
              <div class="d-flex" style="line-height: 14px; height: 36px;">
                <span class="pcount">{{ teamsData.length || 0 }}</span>
                <a routerLink="/team/add" class="ntitle">Add Team</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>